* {
	margin: 0;
	padding: 0;
}

*:focus {
  outline:none;
  text-decoration: none;
}

.container-fluid {
	background-color: #485C5a;  
}

/*add media queries for sizing*/

/*add different css for each link des*/

.hidden {
	display: none;
}

#header {
	margin: 20px 0 20px 0;
	display: flex;
	justify-content:center;
	background-color: #A31E39;
	/*opacity: 0.7;*/
	border-radius: 5px;
	box-shadow: 2px 2px 5px 3px;
	text-align: center;
	border: 1px solid #D6E4E1;
}

#title {
	color: #D6E4E1;
	font-family: 'Montserrat', sans-serif;
	/*border: 2px broken black;*/
	box-shadow: 0px 0px 5px;
	margin: 15px 0 15px 0;
}

#navbar {
	display: flex;
	justify-content: center;
}

#mainBtns {
	border-radius: 10px;
	margin: 3% auto;
	padding: 3.5px;
	background-color: #949494;
	display: inline-block;
	box-shadow: 2px 3px 5px 3px;
}

/*maybe switch to button, maybe just scratch*/
/*a:link {
	color: rgb(0, 0, 0, 0.8);
}

a:visited {
	color: rgb(0, 0, 0, 0.4);
}

a:hover {
	color: yellow;
}*/

.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background-color: #A31E39;
	border-radius: 25px;	
	color: #D6E4E1; 
	box-shadow: 0 0 2px black;
	margin: 0 5px;
	display: inline-block;
	letter-spacing: 1.5px;
}


#center_image {
	display: flex;
	justify-content: center;
	margin: 50px 0 500px 0;
	border: 2px solid white;
}

#drawing {
	border-radius:15px;
	height: 100%;
	width: 80%;
	box-shadow: 5px 5px 5px;
}

#drawingSummon {
	display: flex;
	justify-content: center;
}

#reelSummon {
	display: flex;
	justify-content: center;
	overflow: hidden;
	border: 3px solid #949494;
	border-radius: 15px;
	padding: 12px;
	/*margin-bottom: 230px;*/
}

#reel {
}

#picsSummon {
}

#linksSummon {
 	display: flex;
	justify-content: center;
	border: 2px solid white;
}

.links {
	margin: 3%;
	border: 2px solid white;
}

#imdb {
	/*border: 1px solid black;
	margin: 3%;
	padding: 2px;*/
	background-color: #A31E39;
	color: #949494;
}

#backstage {
	/* width: 15%; */
	border-radius: 15px;
	border: 2px solid black;
}

#contactSummon {
	/* 
	text-align: center;
	 */
	border: 2px solid white;
	padding: none;
	display: flex;
	justify-content: center;
	margin: 2% auto;
}

#form {
	list-style: none;
	border: 2px solid white;
	text-align: center;
	margin: 2% auto;
}

.textbox {
	background-color: #949494;
	border-radius: 6px;
	margin: 3% auto;
}

::placeholder {
	font-size: 1.2em;
	color:white;
	opacity: 0.8;
	margin: 2%;
}
