* {
	margin: 0;
	padding: 0;
}

/* *:focus {
  outline:none;
  text-decoration: none;
}

*:hover {
  outline:none;
  text-decoration: none;
  color: white;
}

a:hover {
	color: orange;
} */

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #00000090; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #fff; 
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #202020;
}


body {
	background-image: url("http://res.cloudinary.com/learicist/image/upload/v1535302685/Jenna%20Site/Jenna_Main_Screen.jpg");
	background-size: 100% auto;
	/* 	min-height: 100vh;
	 background-repeat: no-repeat;*/
}

/*add media queries for sizing -- include nav menu, change display to default */

/*add different css for each link des*/

.hidden {
	display: none;
}

#mainBtns {
	padding: 5px;
	display: flex;
	float: right;	
} 

.main {
	color: white; 
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	letter-spacing: 0.025em;
	margin: 5px 15px; 
	/* font-size: 1.15em;
	border-radius: 8px;
	white-space: normal;
	*/
} 

#row2mgr {
	display: flex;
	margin: 6% 0;
	/* border: 1px solid white; */
} 

#jenna {
	padding-left: 35px;
} 

#title {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2em;
	font-weight: 600;
	letter-spacing: .18em;
}

#contactParent {
	/* position: fixed;
	right: 0; 
	float: right;
	border: 1px solid white; */
	margin: 15px 0 15px auto;
	padding-right: 2px;
}

/* #contactBtn {
	border: 1px dashed white;
	
} */

/* links on hold per request */
/* .links {
	margin: 0 3px;
}

#imdb {
	color: #d6d6db;
	border: 1px solid #5a5866;
	border-width: 1px 3px;
	background-color: #5a5866;
	border-radius: 5px;
}

#bslink {
	text-align: center;
	width: 80px;
}

#backstage {
	max-width: 27px;
	min-width: 27px;
	border-radius: 5px;
	border: 2px solid #4b4a55;
}

#insta {
	color: #5a5866;
	background-color: #d6d6db;
	border-radius: 7.5px;
} */

#center_image {
	margin-bottom: 5%;
	/* display: flex;
	justify-content: center; */
}

#resSummon {
	display: flex;
	justify-content: center;
	margin: 2% auto;
	border: 1px solid white;
}

#resume {
	border-radius:15px;
	height: 100%;
	width: 80%;
	background-color: black;
	color: black;
}

#reelSummon {
	display: flex;
	justify-content: center;
	border-radius: 15px;
	padding: 12px;
}

#reel {
	border: 20px solid black;
	border-radius: 15px;
}

#picsSummon {
	display: inline-block;
	text-align: center;
	border: 1px dotted white;
}

.pics {
	width: 60%;
	height: 60%;
	margin: 2%;
	border-radius: 5px;
}

/* #mainPic {
	width: 60%;
} */



#contactSummon {	
	/* padding: none;
	margin: 1% 5% 1% auto;
	border: 1px solid white; */
	display: flex;
	justify-content: center; 
	
}

#repContact {
	color: white;
	padding-left: 5%
}

#form {
	list-style: none;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 5% 5% 10% auto;
	background-color: white;
	border-radius: 2px;
}

.textbox {
	background-color: white;
	border-radius: 3px;
	margin: 5% auto;
	padding: 5px 10px 5px 10px;
	font-size: 1.25em;
	color: black;
}

::placeholder {
	/* font-size: 1.5em; */
	color: black;
	opacity: 0.8;
	
}

#send {
	background-color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25em;
	color: white;
	/* border: 1.5px dotted #f9f9fa; */
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}

#foot {
	display: flex;
	/* justify-content: center;
	text-align: center; */
	position: fixed;
	bottom: 0;
	width: 100%;
}

#lear {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	font-weight: 300;
	color: #f9f9fa;
	opacity: 0.4;
}