* {
	margin: none;
	padding: none;
}

*:focus {
  outline:none;
}

.container-fluid {
	background-color: #485C5a;  
}


/*add media queries for sizing*/

/*add different css for each link des*/


#header {
	margin: 20px 0 30px 0;
	display: flex;
	justify-content:center;
	background-color: #A31E39;
	/*opacity: 0.7;*/
	border-radius: 5px;
	box-shadow: 1px 2px 2px;
	text-align: center;
	border: 2px solid white;
	
}

#title {
	color: #D6E4E1;
	font-family: 'Montserrat', sans-serif;
	/*border: 2px broken black;*/
	box-shadow: 0px 0px 5px;
	margin: 15px 0 15px 0;
}

#mainBtns {
	
	border-radius: 10px;
	margin: 3% auto;
	padding: 2px;
	background-color: #BFCFCC; /*change to a lighter shade that matches*/
	/*opacity: 0.6;
	border: 1px dotted #A31E39;
	display:flex;
	justify-content: center;
	float: right;*/
}

/*maybe switch to button, maybe just scratch*/
/*a:link {
	color: rgb(0, 0, 0, 0.8);
}

a:visited {
	color: rgb(0, 0, 0, 0.4);
}

a:hover {
	color: yellow;
}*/

.links {
	display: flex;
	justify-content: center;
	margin: 5px 0px;
	/*font-size: 2.5 em;
	border: 0.5px dashed black;
	align-items: center;
	border-radius: 5px;*/
}

.btn {
	font-family: 'Lora', serif;
	background-color: #a3321e;
	border-radius: 5px;	
	color: #D6E4E1; 
	box-shadow: 0 0 2px black;
	
	/*text-align: center;
	display: inline-block;
	margin: auto 5px;
	opacity: 0.7;
	display: inline-block;
	
	float: right;
	min-width: 75px;*/
}


.center_image {
	/*text-align: center;*/
	margin: 6% 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none;
}

#drawing {
	border-radius:15px;
	margin-bottom: 230px;
	height: 60%;
	width: 60%;
}

#reelSummon {
	border-radius:15px;
	margin-bottom: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
}



